Repository AudiusProject/apps, pull requests merged in 2020-12, with the labels that each got.

#1077 Improve search results
  discovery-provider/pylintrc
  discovery-provider/src/__init__.py
  discovery-provider/src/queries/get_repost_feed_for_user.py
  discovery-provider/src/queries/query_helpers.py
  discovery-provider/src/queries/search_queries.py
  discovery-provider/src/tasks/index_network_peers.py
Labels: discovery-provider

#1078 User tags and tag query
  discovery-provider/alembic/versions/6d1b38f242fe_add_user_track_tag_mat_view.py
  discovery-provider/src/api/v1/users.py
  discovery-provider/src/models.py
  discovery-provider/src/queries/get_top_user_track_tags.py
  discovery-provider/src/queries/query_helpers.py
  discovery-provider/src/queries/search_queries.py
  discovery-provider/src/queries/search_track_tags.py
  discovery-provider/src/queries/search_user_tags.py
  discovery-provider/src/tasks/index_materialized_views.py
  discovery-provider/tests/test_get_top_user_track_tags.py
  discovery-provider/tests/test_search_track_tags.py
  discovery-provider/tests/test_search_user_tags.py
  discovery-provider/tests/test_track_tag_mat_view.py
  discovery-provider/tests/utils.py
Labels: discovery-provider

#1117 Fix libs gov getVotes call
  libs/src/services/ethContracts/delegateManagerClient.js
  libs/src/services/ethContracts/governanceClient.js
Labels: libs

#1118 Bump libs patch
  libs/package-lock.json
  libs/package.json
Labels: libs

#1124 Update libs contract method names
  libs/package-lock.json
  libs/package.json
  libs/src/services/ethContracts/delegateManagerClient.js
Labels: libs

#1132 Add the claim processed event
  libs/src/services/ethContracts/claimsManagerClient.js
Labels: libs

#1092 Update PR template
  .github/pull_request_template.md
Labels: Epic, bug, content-node, data-contracts, discovery-node, eth-contracts, identity-service, libs, mad-dog, question, requires-special-attention, service-commands

#1136 Remove media count from insta flow
  identity-service/src/routes/instagram.js
Labels: identity-service

#1140 v1.1.6
  libs/package-lock.json
  libs/package.json
Labels: libs

#1130 Refactor mad-dog and service commands
  mad-dog/src/index.js
  mad-dog/src/tests/test_ipldBlacklist.js
  mad-dog/src/tests/tests.js
  service-commands/src/commands/files.js
  service-commands/src/commands/ipldBlacklist.js
  service-commands/src/commands/playlists.js
  service-commands/src/commands/tracks.js
  service-commands/src/commands/users.js
  service-commands/src/index.js
Labels: mad-dog, service-commands

#1143 Break up CreatorNodeSelection into helper fns and optional sync check
  libs/src/services/creatorNode/CreatorNodeSelection.js
Labels: libs

#1137 Add trending ids endpoint
  discovery-provider/src/api/v1/helpers.py
  discovery-provider/src/api/v1/tracks.py
  discovery-provider/src/queries/get_top_user_track_tags.py
  discovery-provider/src/queries/get_trending.py
  discovery-provider/src/queries/get_trending_ids.py
Labels: discovery-node

#1150 Fix POSIX compliance for `setup.js down` and `check_secrets.sh`
  check_secrets.sh
  service-commands/src/commands/service-commands.json
Labels: service-commands
