Repository AudiusProject/apps, pull requests merged in 2021-08, with the labels that each got.

#1710 Runs eth_relay ratelimitter middleware only on post
  identity-service/src/app.js
Labels: bug, discovery-node

#1711 Adds notification req to libs discovery api via makereq
  libs/src/services/discoveryProvider/index.js
  libs/src/services/discoveryProvider/requests.js
Labels: feature, libs

#1713 Bumps libs patch version to v1.2.16
  libs/package-lock.json
  libs/package.json
Labels: libs

#1712 Update identity notifs to use discovery API
  identity-service/package-lock.json
  identity-service/package.json
  identity-service/src/notifications/index.js
  identity-service/src/notifications/utils.js
Labels: bug, discovery-node

#1716 Fix track slug migration
  discovery-provider/alembic/versions/ed974e76d415_fix_indexing_track_slug.py
Labels: bug, discovery-node

#1702 Connect Verified Challenge
  discovery-provider/alembic/versions/2e02a681aeaa_add_eth_indexing_blocks_table.py
  discovery-provider/alembic/versions/9562cf365cf4_connect_verified_challenge.py
  discovery-provider/src/challenges/challenge_event.py
  discovery-provider/src/challenges/challenge_event_bus.py
  discovery-provider/src/challenges/challenges.json
  discovery-provider/src/challenges/connect_verified_challenge.py
  discovery-provider/src/tasks/users.py
  discovery-provider/tests/test_connect_verified_challenge.py
  discovery-provider/tests/test_index_users.py
Labels: feature, discovery-node

#1742 Fix get_remixable_tracks to eagerly load users
  discovery-provider/src/models/models.py
  discovery-provider/src/queries/get_remixable_tracks.py
  discovery-provider/src/queries/query_helpers.py
  discovery-provider/tests/test_get_tracks.py
  discovery-provider/tests/utils.py
Labels: bug, discovery-node

#1739 Fix attestation logic
  discovery-provider/src/queries/get_attestation.py
  discovery-provider/tests/test_get_attestation.py
  discovery-provider/tests/test_get_challenges.py
Labels: discovery-node

#1715 Use SP ID as the source of truth when issuing reconfigs
  creator-node/compose/env/base.env
  creator-node/src/snapbackSM/peerSetManager.js
  creator-node/src/snapbackSM/snapbackSM.js
  creator-node/test/snapbackSM.test.js
  discovery-provider/src/api/v1/models/users.py
  discovery-provider/src/api/v1/users.py
  discovery-provider/src/queries/get_users_cnode.py
  mad-dog/src/index.js
  mad-dog/src/madDog.js
  mad-dog/src/tests/index.js
  mad-dog/src/tests/test_userReplicaSetManager.js
  mad-dog/src/tests/test_userReplicaSetNodes/index.js
  mad-dog/src/tests/test_userReplicaSetNodes/verifyValidCN.js
Labels: content-node, mad-dog

#1693 Syncs should eventually skip unavailable content and progress
  creator-node/README.md
  creator-node/compose/env/base.env
  creator-node/sequelize/migrations/20210722020837-add-skipped-column-to-files-table.js
  creator-node/src/config.js
  creator-node/src/fileManager.js
  creator-node/src/models/file.js
  creator-node/src/routes/users.js
  creator-node/src/serviceRegistry.js
  creator-node/src/services/sync/UserSyncFailureCountManager.js
  creator-node/src/services/sync/processSync.js
  creator-node/src/services/sync/skippedCIDsRetryService.js
  creator-node/src/snapbackSM/secondarySyncHealthTracker.js
  creator-node/src/snapbackSM/snapbackSM.js
  creator-node/src/utils.js
  creator-node/test/lib/dataSeeds.js
  creator-node/test/snapbackSM.test.js
  creator-node/test/syncAssets/sampleExportDummyCID.json
  creator-node/test/syncAssets/sampleExportDummyCIDFromClock2.json
  creator-node/test/tracks.test.js
Labels: feature, content-node, requires-special-attention

#1721 Fix solana relay
  identity-service/src/routes/solana.js
  libs/src/services/solanaWeb3Manager/tokenAccount.js
  libs/src/services/solanaWeb3Manager/transfer.js
  libs/src/services/solanaWeb3Manager/userBank.js
Labels: libs, identity-service

#1734 Add script to launch instances on GCP
  service-commands/package.json
  service-commands/scripts/A
Labels: service-commands, infrastructure

#1753 Parallelize balance check
  identity-service/src/routes/healthCheck.js
Labels: identity-service

#1772 [ASI-603] Change CN ensurePrimaryMiddleware to poll chain directly instead of discprov [Need 4 Speed]
  creator-node/package-lock.json
  creator-node/package.json
  creator-node/src/logging.js
  creator-node/src/middlewares.js
  creator-node/src/utils.js
  creator-node/test/audiusUsers.test.js
  creator-node/test/contentBlacklist.test.js
  creator-node/test/ensureStorageMiddleware.test.js
  creator-node/test/lib/app.js
  creator-node/test/lib/dataSeeds.js
  creator-node/test/lib/libsMock.js
  creator-node/test/nodesync.test.js
  creator-node/test/pollingTracks.test.js
  creator-node/test/tracks.test.js
  service-commands/package-lock.json
  service-commands/package.json
Labels: content-node, requires-special-attention

#1788 Parallelize poa balance check
  identity-service/src/routes/healthCheck.js
Labels: identity-service

#1733 Add reward manager transfer instruction indexing
  discovery-provider/alembic/versions/badd3aab7e5e_add_rewards_manager_disbursement.py
  discovery-provider/default_config.ini
  discovery-provider/src/app.py
  discovery-provider/src/models/models.py
  discovery-provider/src/tasks/index_rewards_manager.py
  discovery-provider/src/utils/solana_indexing.py
  discovery-provider/tests/test_get_challenges.py
  discovery-provider/tests/test_index_rewards_manager.py
  discovery-provider/tests/utils.py
Labels: discovery-node

#1732 AUD-711 Add Referral Challenges
  discovery-provider/alembic/versions/436c10e54758_create_profile_challenges.py
  discovery-provider/requirements.txt
  discovery-provider/src/challenges/challenge.py
  discovery-provider/src/challenges/challenge_event.py
  discovery-provider/src/challenges/challenge_event_bus.py
  discovery-provider/src/challenges/challenges.json
  discovery-provider/src/challenges/referral_challenge.py
  discovery-provider/src/tasks/users.py
  discovery-provider/tests/test_referral_challenge.py
Labels: discovery-node

#1789 AUD-859 Stop generating old routes on indexing flow
  discovery-provider/src/tasks/tracks.py
  discovery-provider/tests/test_index_tracks.py
Labels: discovery-node, requires-special-attention

#1795 Strip periods from track route slugs
  discovery-provider/src/utils/helpers.py
  discovery-provider/src/utils/helpers_test.py
Labels: bug, discovery-node

#1821 Fix parsing solana tx eth addr
  discovery-provider/src/solana/solana_parser.py
  discovery-provider/tests/test_index_rewards_manager.py
Labels: discovery-node

#1823 Remove double quotes
  creator-node/test/lib/libsMock.js
Labels: content-node

#1822 Top Users API
  discovery-provider/src/api/v1/users.py
  discovery-provider/src/queries/get_related_artists.py
  discovery-provider/src/queries/get_top_users.py
  discovery-provider/tests/test_get_related_artists.py
Labels: discovery-node
