Repository AudiusProject/apps, pull requests merged in 2021-07, with the labels that each got.

#1595 Initial TrackRoutes table and indexing
  discovery-provider/alembic/versions/301b1e42dc4b_create_track_routes_table.py
  discovery-provider/src/models/__init__.py
  discovery-provider/src/models/models.py
  discovery-provider/src/models/track_route.py
  discovery-provider/src/tasks/index.py
  discovery-provider/src/tasks/tracks.py
  discovery-provider/src/utils/helpers.py
  discovery-provider/tests/test_index_tracks.py
Labels: discovery-node, requires-special-attention

#1627 Return -1 if clock value not found for batch requests, not undefined
  creator-node/src/routes/users.js
Labels: content-node

#1619 Fix send audio through wormhole
  libs/src/api/account.js
  libs/src/services/ethContracts/wormholeClient.js
  libs/src/services/solanaWeb3Manager/userBank.js
Labels: libs

#1614 Consume SecondarySyncRequestOutcomes in Snapback reconfig
  creator-node/compose/env/base.env
  creator-node/default-config.json
  creator-node/src/config.js
  creator-node/src/snapbackSM/secondarySyncHealthTracker.js
  creator-node/src/snapbackSM/snapbackSM.js
Labels: content-node, feature

#1629 Add min delegation to identity
  identity-service/sequelize/migrations/20210707144138-protocol-service-provider.js
  identity-service/src/models/protocolServiceProvider.js
  identity-service/src/routes/protocol.js
  libs/src/api/account.js
  libs/src/constants.js
  libs/src/services/ethWeb3Manager/index.js
  libs/src/services/identity/index.js
Labels: feature, identity-service, libs

#1642 Discovery undisbursed endpoint for rewards
  discovery-provider/alembic/versions/3f2ef631e338_add_user_challenges_column_for_.py
  discovery-provider/src/api/v1/api.py
  discovery-provider/src/api/v1/challenge.py
  discovery-provider/src/api/v1/challenges.py
  discovery-provider/src/api/v1/models/challenges.py
  discovery-provider/src/challenges/challenge.py
  discovery-provider/src/challenges/profile_challenge.py
  discovery-provider/src/models/models.py
  discovery-provider/src/queries/get_challenges.py
  discovery-provider/src/queries/get_undisbursed_challenges.py
  discovery-provider/tests/test_challenges.py
  discovery-provider/tests/test_undisbursed_challeges.py
  discovery-provider/tests/utils.py
Labels: discovery-node

#1646 Maddog update signer group
  mad-dog/src/tests/test_userReplicaSetManager.js
Labels: mad-dog

#1600 State machine for reconfig
  creator-node/compose/env/base.env
  creator-node/src/components/healthCheck/healthCheckComponentService.js
  creator-node/src/components/healthCheck/healthCheckComponentService.test.js
  creator-node/src/config.js
  creator-node/src/snapbackSM/README.md
  creator-node/src/snapbackSM/peerSetManager.js
  creator-node/src/snapbackSM/snapbackSM.js
  creator-node/test/peerSetManager.test.js
  creator-node/test/snapbackSM.test.js
Labels: content-node

#1655 New GetTracks Routing via Handle and Slug
  discovery-provider/alembic/versions/534987cb0355_recreate_track_routes_table.py
  discovery-provider/alembic/versions/c8d2be7dcccc_repair_poorly_sorted_tracks.py
  discovery-provider/src/api/v1/helpers.py
  discovery-provider/src/api/v1/models/tracks.py
  discovery-provider/src/api/v1/tracks.py
  discovery-provider/src/api/v1/utils/resolve_url.py
  discovery-provider/src/models/models.py
  discovery-provider/src/queries/get_tracks.py
  discovery-provider/src/tasks/index.py
  discovery-provider/src/tasks/tracks.py
  discovery-provider/src/utils/helpers.py
  discovery-provider/tests/resolve_url_test.py
  discovery-provider/tests/test_get_tracks.py
  discovery-provider/tests/test_index_tracks.py
  discovery-provider/tests/utils.py
Labels: discovery-node

#1662 Update User Balances
  discovery-provider/src/eth_indexing/event_scanner.py
  discovery-provider/src/queries/get_balances.py
  discovery-provider/src/queries/get_health.py
  discovery-provider/src/queries/query_helpers.py
  discovery-provider/src/tasks/cache_user_balance.py
  discovery-provider/src/tasks/users.py
Labels: discovery-node

#1664 Increase `rateLimitingUserReqLimit` to 60000 reqs / hr / IP to prevent Snapback causing nodes to rate limit each other
  creator-node/default-config.json
  creator-node/src/reqLimiter.js
Labels: content-node

#1665 Create and use an in-memory list of records to be added
  discovery-provider/src/tasks/tracks.py
  discovery-provider/tests/test_index_tracks.py
Labels: discovery-node, requires-special-attention

#1634 Index ethereum audio transfer events
  discovery-provider/alembic/versions/2e02a681aeaa_add_eth_indexing_blocks_table.py
  discovery-provider/src/app.py
  discovery-provider/src/eth_indexing/event_scanner.py
  discovery-provider/src/models/models.py
  discovery-provider/src/queries/get_balances.py
  discovery-provider/src/queries/get_health.py
  discovery-provider/src/queries/query_helpers.py
  discovery-provider/src/tasks/cache_user_balance.py
  discovery-provider/src/tasks/index.py
  discovery-provider/src/tasks/index_blacklist.py
  discovery-provider/src/tasks/index_eth.py
  discovery-provider/src/tasks/index_materialized_views.py
  discovery-provider/src/tasks/index_metrics.py
  discovery-provider/src/tasks/index_network_peers.py
  discovery-provider/src/tasks/index_plays.py
  discovery-provider/src/tasks/index_solana_plays.py
  discovery-provider/src/tasks/users.py
  discovery-provider/src/utils/helpers.py
  discovery-provider/src/utils/redis_constants.py
Labels: eth-contracts, requires-special-attention

#1679 Bump express rate limit to 5.3.0
  creator-node/package-lock.json
  creator-node/package.json
  creator-node/src/reqLimiter.js
Labels: content-node

#1681 Bump libs to 1.2.13 in service-commands
  service-commands/package-lock.json
  service-commands/package.json
Labels: service-commands

#1607 User Bank Indexing
  discovery-provider/alembic/versions/273b8bcef694_user_bank_updates.py
  discovery-provider/alembic/versions/534987cb0355_recreate_track_routes_table.py
  discovery-provider/compose/.env
  discovery-provider/compose/docker-compose.backend.yml
  discovery-provider/default_config.ini
  discovery-provider/requirements.txt
  discovery-provider/src/app.py
  discovery-provider/src/models/__init__.py
  discovery-provider/src/models/models.py
  discovery-provider/src/models/user_bank.py
  discovery-provider/src/tasks/cache_user_balance.py
  discovery-provider/src/tasks/index_solana_plays.py
  discovery-provider/src/tasks/index_user_bank.py
  discovery-provider/src/utils/solana.py
  libs/initScripts/configureLocalDiscProv.js
  service-commands/src/commands/service-commands.json
  solana-programs/start.sh
Labels: discovery-node

#1683 Fix reconfig mad dog tests
  mad-dog/src/helpers.js
  mad-dog/src/tests/test_userReplicaSetNodes/index.js
  service-commands/src/libs.js
Labels: mad-dog

#1689 Bump libs to 1.2.15
  libs/package-lock.json
  libs/package.json
Labels: libs

#1684 Include unlisted tracks in get tracks by handle and slug endpoint
  discovery-provider/src/queries/get_tracks.py
  discovery-provider/tests/test_get_tracks.py
Labels: discovery-node

#1687 Add getTracksByHandleAndSlug API to libs
  libs/src/api/track.js
  libs/src/services/discoveryProvider/index.js
  libs/src/services/discoveryProvider/requests.js
Labels: libs

#1669 [ASI-563] fix snapback re-enqueue syncRequest bug + sync failure tracking
  creator-node/compose/docker-compose.yml
  creator-node/compose/env/base.env
  creator-node/src/components/healthCheck/healthCheckComponentService.js
  creator-node/src/components/healthCheck/healthCheckComponentService.test.js
  creator-node/src/config.js
  creator-node/src/middlewares.js
  creator-node/src/snapbackSM/secondarySyncHealthTracker.js
  creator-node/src/snapbackSM/snapbackSM.js
Labels: bug, content-node

#1692 Add permalink to Track model to ensure it's always present
  discovery-provider/src/api/v1/helpers.py
  discovery-provider/src/models/models.py
  discovery-provider/src/queries/get_tracks.py
  discovery-provider/src/queries/query_helpers.py
  discovery-provider/tests/test_get_tracks.py
Labels: discovery-node

#1694 Filter out solana plays
  discovery-provider/src/tasks/index_plays.py
Labels: bug, discovery-node

#1707 Add migration for fix indexing track slug
  discovery-provider/alembic/versions/ed974e76d415_fix_indexing_track_slug.py
Labels: bug, discovery-node

#1695 SPL associated wallets
  discovery-provider/alembic/versions/f64a484f1496_add_spl_associated_wallet.py
  discovery-provider/src/api/v1/models/users.py
  discovery-provider/src/api/v1/users.py
  discovery-provider/src/models/models.py
  discovery-provider/src/queries/get_associated_user_wallet.py
  discovery-provider/src/queries/get_balances.py
  discovery-provider/src/queries/query_helpers.py
  discovery-provider/src/queries/response_name_constants.py
  discovery-provider/src/schemas/user_schema.json
  discovery-provider/src/tasks/cache_user_balance.py
  discovery-provider/src/tasks/metadata.py
  discovery-provider/src/tasks/users.py
  discovery-provider/src/utils/solana.py
  discovery-provider/tests/index_helpers.py
  discovery-provider/tests/test_index_playlists.py
  discovery-provider/tests/test_index_tracks.py
  discovery-provider/tests/test_index_users.py
  libs/src/api/user.js
  libs/src/services/schemaValidator/schemas/userSchema.json
  libs/src/services/solanaWeb3Manager/index.js
Labels: discovery-node, feature, libs
