Repository AudiusProject/apps, pull requests merged in 2021-09, with the labels that each got.

#1828 [ASI-632] Add Files_sourceFile_idx to speed up /tracks/download_status query
  creator-node/sequelize/migrations/20210831162548-add-index-files-sourcefile.js
Labels: bug, content-node

#1791 Add trending challenges
  discovery-provider/alembic/versions/7693ab16e2e1_create_trending_challenge.py
  discovery-provider/alembic/versions/80271bf86c56_modify_challenges_schema.py
  discovery-provider/requirements.txt
  discovery-provider/src/app.py
  discovery-provider/src/challenges/challenge.py
  discovery-provider/src/challenges/challenge_event.py
  discovery-provider/src/challenges/challenges.json
  discovery-provider/src/challenges/create_new_challenges.py
  discovery-provider/src/challenges/trending_challenge.py
  discovery-provider/src/models/__init__.py
  discovery-provider/src/models/trending_result.py
  discovery-provider/src/tasks/calculate_trending_challenges.py
  discovery-provider/src/tasks/index.py
  discovery-provider/tests/test_connect_verified_challenge.py
  discovery-provider/tests/test_trending_challenge.py
  discovery-provider/tests/utils.py
Labels: discovery-node

#1864 Add validation to all models
  discovery-provider/src/models/models.py
  discovery-provider/src/models/test_base_model_validation.py
  discovery-provider/tests/test_challenges.py
  discovery-provider/tests/test_get_attestation.py
  discovery-provider/tests/test_get_challenges.py
  discovery-provider/tests/test_index_tracks.py
  discovery-provider/tests/test_track_upload_challenge.py
  discovery-provider/tests/test_undisbursed_challeges.py
  discovery-provider/tests/utils.py
Labels: discovery-node, requires-special-attention

#1866 Add date to challenge specifier
  discovery-provider/src/challenges/trending_challenge.py
  discovery-provider/tests/test_trending_challenge.py
Labels: discovery-node

#1869 Use json serialize instead of pickle
  discovery-provider/src/queries/get_skipped_transactions.py
  discovery-provider/src/utils/redis_cache.py
  discovery-provider/tests/test_set_indexing_error.py
Labels: discovery-node

#1883 Update get karma to use aggregate user
  discovery-provider/src/queries/query_helpers.py
Labels: discovery-node

#1886 Fix discovery requirements.txt
  discovery-provider/requirements.txt
Labels: discovery-node

#1889 AUD-949 Add index to slots on plays table
  discovery-provider/alembic/versions/561ba1eca13a_add_slot_index.py
  discovery-provider/src/models/models.py
Labels: discovery-node

#1922 [ASI-665] Check connxn before running DB migs
  creator-node/src/index.js
Labels: content-node, developer-experience

#1919 Pin deps
  libs/package.json
Labels: libs
