Repository AudiusProject/apps, pull requests merged in 2021-10, with the labels that each got.

#1931 Enable trending challenge
  discovery-provider/src/challenges/challenge_event_bus.py
  discovery-provider/src/tasks/index.py
Labels: discovery-node

#1923 Add safety for DivideByZero by excluding artists with no followers from related artist scoring
  discovery-provider/src/queries/get_related_artists.py
  discovery-provider/tests/test_get_related_artists.py
Labels: bug, discovery-node

#1920 [AUD-826] Update API to allow getting multiple tracks via their routes
  discovery-provider/src/api/v1/tracks.py
  discovery-provider/src/api/v1/utils/resolve_url.py
  discovery-provider/src/queries/get_tracks.py
  discovery-provider/tests/test_get_tracks.py
Labels: discovery-node

#1943 [ASI-533] [ASI-671] Verbose mode and parallel provisioning for service-commands
  .circleci/config.yml
  creator-node/.gitignore
  creator-node/compose/env/commonEnv.sh
  discovery-provider/.gitignore
  discovery-provider/compose/env/commonEnv.sh
  discovery-provider/compose/env/shellEnv1.sh
  discovery-provider/compose/env/shellEnv2.sh
  libs/initScripts/local.js
  mad-dog/src/index.js
  service-commands/.gitignore
  service-commands/scripts/setup.js
  service-commands/src/commands/service-commands.json
  service-commands/src/setup.js
  solana-programs/start.sh
Labels: service-commands, developer-experience

#1970 Fix OpenResty pass through for checks
  discovery-provider/scripts/gen_nginx_conf.py
Labels: discovery-node, infrastructure
