Repository AudiusProject/apps, pull requests merged in 2021-04, with the labels that each got.

#1310 Add script to generate all user CIDs and their existence on a replica set
  service-commands/scripts/checkAllCid.js
Labels: content-node, service-commands

#1367 Add env var to disable rehydrate
  creator-node/compose/env/base.env
  creator-node/src/RehydrateIpfsQueue.js
  creator-node/src/config.js
Labels: content-node

#1349 [AUD-478] Discprov indexing - (1) optimize metadata gateway retrieval by first querying user's replica set (2) reduce ipfs.cat timeout from 3s to 1s
  discovery-provider/src/tasks/tracks.py
  discovery-provider/src/tasks/users.py
  discovery-provider/src/utils/ipfs_lib.py
  service-commands/src/commands/service-commands.json
Labels: discovery-node, requires-special-attention

#1382 Adjust for new changes to CNs so that script works
  service-commands/scripts/checkAllCid.js
Labels: service-commands

#1391 Adds the relayer wallet to estimate gas in eth web3
  libs/src/api/account.js
  libs/src/services/ethContracts/audiusTokenClient.js
  libs/src/services/ethWeb3Manager/index.js
Labels: bug, libs

#1392 Bump libs version
  libs/package-lock.json
  libs/package.json
Labels: libs

#1389 Run migrations outside discovery web server
  discovery-provider/alembic/env.py
  discovery-provider/scripts/circle-ci.sh
  discovery-provider/scripts/dev-server.sh
  discovery-provider/scripts/prod-server.sh
  discovery-provider/src/__init__.py
  discovery-provider/tests/conftest.py
Labels: discovery-node, requires-special-attention

#1387 [AUD-532] Add query_start to db_connection monitoring + log duration for db matview refresh ops
  discovery-provider/src/monitors/database.py
  discovery-provider/src/tasks/index_materialized_views.py
  discovery-provider/src/tasks/index_metrics.py
Labels: discovery-node

#1386 [AUD-532] Increase refresh search matview window from 1min to 5min for db perf
  discovery-provider/src/__init__.py
Labels: discovery-node

#1351 Update storage error log
  creator-node/src/middlewares.js
Labels: content-node

#1378 Improve snapback.monitorSecondarySync() performance & readability
  creator-node/src/snapbackSM.js
  mad-dog/src/helpers.js
Labels: content-node

#1400 [AUD-557] Increase mad-dog test ci resource class
  .circleci/config.yml
Labels: mad-dog

#1394 [AUD-531] Optimize CN nodesync saveFileForMultihash timeouts & concurrency
  creator-node/default-config.json
  creator-node/package-lock.json
  creator-node/package.json
  creator-node/src/config.js
  creator-node/src/fileManager.js
  creator-node/src/routes/nodeSync.js
  creator-node/test/fileManager.test.js
Labels: content-node

#1405 [AUD-530] SnapbackSM RequestSyncQueue concurrency configs
  creator-node/src/config.js
  creator-node/src/snapbackSM.js
  creator-node/test/snapbackSM.test.js
Labels: content-node

#1402 Add user, track, playlist mat views
  discovery-provider/alembic/versions/5bcbe23f6c70_user_track_collection_mat_views.py
  discovery-provider/src/__init__.py
  discovery-provider/src/models.py
  discovery-provider/src/queries/get_reposters_for_playlist.py
  discovery-provider/src/queries/get_reposters_for_track.py
  discovery-provider/src/queries/get_savers_for_playlist.py
  discovery-provider/src/queries/get_savers_for_track.py
  discovery-provider/src/queries/get_trending_playlists.py
  discovery-provider/src/queries/get_underground_trending.py
  discovery-provider/src/queries/notifications.py
  discovery-provider/src/queries/query_helpers.py
  discovery-provider/src/tasks/index_aggregate_views.py
  discovery-provider/tests/test_search_user_tags.py
Labels: discovery-node

#1407 [AUD-529] Remove req param from _nodeSync()
  creator-node/src/app.js
  creator-node/src/fileManager.js
  creator-node/src/middlewares.js
  creator-node/src/routes/nodeSync.js
  creator-node/src/utils.js
  creator-node/test/snapbackSM.test.js
Labels: content-node

#1408 Add tests for populate_x_metadata
  discovery-provider/tests/test_populate_playlist_metadata.py
  discovery-provider/tests/test_populate_track_metadata.py
  discovery-provider/tests/test_populate_user_metadata.py
  discovery-provider/tests/utils.py
Labels: discovery-node

#1417 Increase karma performance
  discovery-provider/src/queries/query_helpers.py
Labels: discovery-node

#1399 Save tracks to file, and adjusts retries for prod
  service-commands/scripts/checkAllCid.js
Labels: service-commands

#1354 Use Solana for track listen count
  .circleci/config.yml
  discovery-provider/Dockerfile
  discovery-provider/alembic/versions/b7185f6920d3_solana_plays.py
  discovery-provider/default_config.ini
  discovery-provider/requirements.txt
  discovery-provider/src/app.py
  discovery-provider/src/models.py
  discovery-provider/src/queries/get_sol_plays.py
  discovery-provider/src/queries/queries.py
  discovery-provider/src/tasks/index_materialized_views.py
  discovery-provider/src/tasks/index_plays.py
  discovery-provider/src/tasks/index_solana_plays.py
  discovery-provider/src/utils/ipfs_lib.py
  identity-service/.gitignore
  identity-service/compose/.env
  identity-service/default-config.json
  identity-service/package-lock.json
  identity-service/package.json
  identity-service/scripts/run-tests.sh
  identity-service/src/config.js
  identity-service/src/notifications/index.js
  identity-service/src/notifications/utils.js
  identity-service/src/routes/trackListens.js
  identity-service/src/solana-client.js
  identity-service/test/configTest.js
  libs/initScripts/configureLocalDiscProv.js
  libs/src/api/track.js
  libs/src/services/identity/index.js
  mad-dog/src/index.js
  mad-dog/src/tests/index.js
  mad-dog/src/tests/test_solPlays.js
  service-commands/scripts/sendSolanaListens.js
  service-commands/src/commands/service-commands.json
  service-commands/src/libs.js
  service-commands/src/setup.js
  solana-programs/.gitignore
  solana-programs/Dockerfile
  solana-programs/README.md
  solana-programs/audius_eth_registry/Cargo.toml
  solana-programs/audius_eth_registry/Xargo.toml
  solana-programs/audius_eth_registry/src/entrypoint.rs
  solana-programs/audius_eth_registry/src/error.rs
  solana-programs/audius_eth_registry/src/instruction.rs
  solana-programs/audius_eth_registry/src/lib.rs
  solana-programs/audius_eth_registry/src/processor.rs
  solana-programs/audius_eth_registry/src/state.rs
  solana-programs/audius_eth_registry/tests/tests.rs
  solana-programs/cli/Cargo.toml
  solana-programs/cli/src/main.rs
  solana-programs/start.sh
  solana-programs/track_listen_count/Cargo.toml
  solana-programs/track_listen_count/Xargo.toml
  solana-programs/track_listen_count/src/entrypoint.rs
  solana-programs/track_listen_count/src/error.rs
  solana-programs/track_listen_count/src/instruction.rs
  solana-programs/track_listen_count/src/lib.rs
  solana-programs/track_listen_count/src/processor.rs
  solana-programs/track_listen_count/src/state.rs
  solana-programs/track_listen_count/tests/tests.rs
Labels: Epic, discovery-node, identity-service, requires-special-attention
