Repository AudiusProject/apps, pull requests merged in 2021-11, with the labels that each got.

#1939 Remove ipfs crit path v2
  .circleci/config.yml
  creator-node/scripts/run-tests.sh
  creator-node/src/FileProcessingQueue.js
  creator-node/src/components/tracks/tracksComponentService.js
  creator-node/src/config.js
  creator-node/src/fileManager.js
  creator-node/src/ipfsAdd.js
  creator-node/src/ipfsClient.js
  creator-node/src/resizeImage.js
  creator-node/src/routes/audiusUsers.js
  creator-node/src/routes/files.js
  creator-node/src/routes/tracks.js
  creator-node/src/serviceRegistry.js
  creator-node/src/utils.js
  creator-node/test/assets/random.txt
  creator-node/test/assets/static_image.png
  creator-node/test/assets/static_text.txt
  creator-node/test/audiusUsers.test.js
  creator-node/test/blacklistManager.test.js
  creator-node/test/contentBlacklist.test.js
  creator-node/test/dbManager.test.js
  creator-node/test/ensureStorageMiddleware.test.js
  creator-node/test/expressApp.test.js
  creator-node/test/fileManager.test.js
  creator-node/test/ipfsAdd.test.js
  creator-node/test/lib/helpers.js
  creator-node/test/lib/ipfsMock.js
  creator-node/test/nodesync.test.js
  creator-node/test/pollingTracks.test.js
  creator-node/test/resizeImage.test.js
  creator-node/test/tracks.test.js
  creator-node/test/users.test.js
Labels: content-node

#2020 Remove duplicate queries in tag search
  discovery-provider/src/queries/search_queries.py
Labels: discovery-node

#2027 Use v1 endpoint for getTracksByHandleAndSlug
  libs/src/services/discoveryProvider/requests.js
Labels: bug

#2003 Listen Milestone
  discovery-provider/alembic/versions/8bc5bac6711b_add_milestone.py
  discovery-provider/src/app.py
  discovery-provider/src/models/__init__.py
  discovery-provider/src/models/milestone.py
  discovery-provider/src/queries/get_health.py
  discovery-provider/src/queries/get_health_test.py
  discovery-provider/src/queries/get_sol_plays.py
  discovery-provider/src/queries/get_sol_rewards_manager.py
  discovery-provider/src/queries/get_sol_user_bank.py
  discovery-provider/src/queries/notifications.py
  discovery-provider/src/queries/response_name_constants.py
  discovery-provider/src/solana/solana_client_manager.py
  discovery-provider/src/solana/solana_transaction_types.py
  discovery-provider/src/tasks/index_listen_count_milestones.py
  discovery-provider/src/tasks/index_rewards_manager.py
  discovery-provider/src/tasks/index_solana_plays.py
  discovery-provider/src/tasks/index_user_bank.py
  discovery-provider/src/utils/cache_solana_program.py
  discovery-provider/src/utils/redis_constants.py
  discovery-provider/tests/test_index_listen_count_milestone.py
  identity-service/sequelize/migrations/20211025184306-solana-notification-type.js
  identity-service/src/models/solanaNotification.js
  identity-service/src/notifications/formatNotificationMetadata.js
  identity-service/src/notifications/index.js
  identity-service/src/notifications/milestoneProcessing.js
  identity-service/src/notifications/processNotifications/challengeRewardNotification.js
  identity-service/src/notifications/processNotifications/createNotification.js
  identity-service/src/notifications/processNotifications/favoriteNotification.js
  identity-service/src/notifications/processNotifications/followNotification.js
  identity-service/src/notifications/processNotifications/index.js
  identity-service/src/notifications/processNotifications/milestoneListenNotification.js
  identity-service/src/notifications/processNotifications/playlistUpdateNotification.js
  identity-service/src/notifications/processNotifications/remixCosignNotification.js
  identity-service/src/notifications/processNotifications/remixCreateNotification.js
  identity-service/src/notifications/processNotifications/repostNotification.js
  identity-service/src/notifications/sendNotifications/formatNotification.js
  identity-service/src/notifications/sendNotifications/index.js
  identity-service/src/notifications/sendNotifications/publishNotifications.js
  identity-service/src/routes/notifications.js
  identity-service/test/processNotifications/remixCosignNotification.js
  identity-service/test/processNotifications/remixCreateNotification.js
Labels: discovery-node, identity-service

#2034 [AUD-1045] [AUD-1047] Add is_deactivated to users
  discovery-provider/alembic/versions/edccccc274a7_add_is_deactivated_to_users.py
  discovery-provider/src/api/v1/models/users.py
  discovery-provider/src/models/models.py
  discovery-provider/src/tasks/users.py
  discovery-provider/tests/test_index_users.py
Labels: discovery-node

#2036 Update trending to be on the block hr
  discovery-provider/src/app.py
  discovery-provider/src/queries/get_trending_playlists.py
  discovery-provider/src/queries/get_trending_tracks.py
  discovery-provider/src/queries/get_underground_trending.py
  discovery-provider/src/queries/query_helpers.py
  discovery-provider/src/tasks/calculate_trending_challenges.py
  discovery-provider/src/tasks/index_trending.py
  discovery-provider/tests/test_trending_challenge.py
Labels: discovery-node

#2050 Fix timestamp on notification
  identity-service/src/routes/notifications.js
Labels: identity-service

#1905 [ASI-614] Bull queue to expire user session tokens
  creator-node/src/dbManager.js
  creator-node/src/serviceRegistry.js
  creator-node/src/services/SessionExpirationQueue.js
  creator-node/src/sessionManager.js
  creator-node/test/dbManager.test.js
  creator-node/test/lib/dataSeeds.js
  creator-node/test/lib/utils.js
  creator-node/test/sessionManager.test.js
Labels: javascript, content-node

#2058 [AUD-1084] Don't filter deleted so that we can get tombstones on the client
  discovery-provider/src/api/v1/tracks.py
Labels: discovery-node

#1808 [AUD-726] Support create sender public in discovery
  discovery-provider/.test.env
  discovery-provider/src/queries/get_attestation.py
  discovery-provider/src/utils/get_all_other_nodes.py
  discovery-provider/tests/test_get_attestation.py
  libs/initScripts/local.js
  service-commands/scripts/rewardManagerLocal.js
  service-commands/src/commands/service-commands.json
Labels: discovery-node

#2076 Add is_deactivated to playlist.user response of get_account
  discovery-provider/src/queries/get_users_account.py
Labels: discovery-node

#2064 Update libs transfer solana
  libs/src/services/solanaWeb3Manager/errors.js
  libs/src/services/solanaWeb3Manager/index.js
  libs/src/services/solanaWeb3Manager/rewards.js
  libs/src/services/solanaWeb3Manager/transactionHandler.js
  libs/src/services/solanaWeb3Manager/transfer.js
  libs/src/services/solanaWeb3Manager/utils.js
Labels: libs
