Repository AudiusProject/apps, pull requests merged in 2021-02, with the labels that each got.

#1200 Auto run mad-dog on every PR commit
  .circleci/config.yml
  libs/src/api/serviceProvider.js
  libs/src/services/creatorNode/index.js
Labels: infrastructure, mad-dog

#1209 [AUD-225] Delete vectorClock.js
  creator-node/src/routes/vectorClock.js
  creator-node/src/userNodeMiddleware.js
Labels: content-node

#1211 Add storage criteria cn selection [AUD-241]
  libs/src/services/creatorNode/CreatorNodeSelection.js
  libs/src/services/creatorNode/CreatorNodeSelection.test.js
  libs/src/services/creatorNode/constants.js
Labels: libs

#1205 Add unique job id to identity notifications bull
  identity-service/src/notifications/index.js
Labels: bug, identity-service

#1212 UserReplicaSetManager Indexing
  discovery-provider/alembic/versions/5aaa6198def8_user_primary_secondary_columns.py
  discovery-provider/alembic/versions/5dd6a55bb738_usrm_content_nodes.py
  discovery-provider/build/contracts/UserReplicaSetManager.json
  discovery-provider/scripts/circle-ci.sh
  discovery-provider/src/__init__.py
  discovery-provider/src/models.py
  discovery-provider/src/queries/get_health.py
  discovery-provider/src/queries/get_usrm_cnodes.py
  discovery-provider/src/queries/queries.py
  discovery-provider/src/tasks/index.py
  discovery-provider/src/tasks/index_blacklist.py
  discovery-provider/src/tasks/index_network_peers.py
  discovery-provider/src/tasks/user_replica_set.py
  discovery-provider/src/tasks/users.py
  discovery-provider/src/utils/redis_cache.py
  discovery-provider/src/utils/redis_metrics.py
  discovery-provider/src/utils/user_event_constants.py
  discovery-provider/tests/resolve_url_test.py
Labels: discovery-node, requires-special-attention

#1215 [AUD-253] Add ensureStorageMiddleware to POST routes with writes
  creator-node/src/config.js
  creator-node/src/fileManager.js
  creator-node/src/middlewares.js
  creator-node/src/routes/audiusUsers.js
  creator-node/src/routes/files.js
  creator-node/src/routes/nodeSync.js
  creator-node/src/routes/tracks.js
  creator-node/src/routes/users.js
  creator-node/test/ensureStorageMiddleware.test.js
  creator-node/test/lib/app.js
  creator-node/test/lib/monitoringQueueMock.js
Labels: content-node

#1235 Fix event name in libs delegate manager return values
  libs/src/services/ethContracts/delegateManagerClient.js
Labels: bug, libs

#1234 Jowlee dp concurrent search update
  discovery-provider/alembic/versions/579360c7cbf3_search_indices.py
  discovery-provider/src/tasks/index_materialized_views.py
Labels: bug

#1058 UserReplicaSetManager Contract
  .circleci/config.yml
  contracts/.soliumrc.json
  contracts/contract-config.js
  contracts/contracts/AdminUpgradeabilityProxyImport.sol
  contracts/contracts/SigningLogicInitializable.sol
  contracts/contracts/UserReplicaSetManager.sol
  contracts/contracts/test/TestUserReplicaSetManager.sol
  contracts/migrations/4_user_replica_set_migration.js
  contracts/package-lock.json
  contracts/package.json
  contracts/scripts/circleci-test.sh
  contracts/scripts/truffle-test.sh
  contracts/signature_schemas/signatureSchemas.js
  contracts/test/_lib/artifacts.js
  contracts/test/_lib/testUser.js
  contracts/test/userReplicaSetManager.js
  contracts/test/utils/constants.js
  contracts/test/utils/parser.js
  discovery-provider/scripts/circle-ci.sh
  libs/data-contracts/ABIs/UserReplicaSetManager.json
  libs/data-contracts/signatureSchemas.js
  libs/initScripts/local.js
  service-commands/src/commands/service-commands.json
  service-commands/src/setup.js
Labels: Epic, data-contracts, requires-special-attention

#1243 Use maxStorageUsedPercent from CN in CreatorNodeSelection
  creator-node/src/components/healthCheck/healthCheckComponentService.js
  creator-node/src/components/healthCheck/healthCheckComponentService.test.js
  libs/src/services/creatorNode/CreatorNodeSelection.js
  libs/src/services/creatorNode/CreatorNodeSelection.test.js
Labels: content-node, libs

#1254 [AUD-320] Replace fs sync read calls with async versions
  creator-node/src/routes/audiusUsers.js
  creator-node/src/routes/files.js
  creator-node/src/routes/tracks.js
  creator-node/src/segmentDuration.js
  creator-node/src/utils.js
Labels: content-node, requires-special-attention

#1141 UserReplicaSetManager - Libs + Mad Dog
  .circleci/config.yml
  contracts/test/userReplicaSetManager.js
  identity-service/scripts/dev-server.sh
  libs/data-contracts/ABIs/AdminUpgradeabilityProxy.json
  libs/data-contracts/ABIs/BaseAdminUpgradeabilityProxy.json
  libs/data-contracts/ABIs/BaseUpgradeabilityProxy.json
  libs/data-contracts/ABIs/Initializable.json
  libs/data-contracts/ABIs/OpenZeppelinUpgradesAddress.json
  libs/data-contracts/ABIs/Proxy.json
  libs/data-contracts/ABIs/SigningLogicInitializable.json
  libs/data-contracts/ABIs/TestUserReplicaSetManager.json
  libs/data-contracts/ABIs/UpgradeabilityProxy.json
  libs/examples/initAudiusLibs.js
  libs/initScripts/helpers/spRegistration.js
  libs/initScripts/local.js
  libs/src/api/serviceProvider.js
  libs/src/api/user.js
  libs/src/index.js
  libs/src/services/ABIDecoder/index.js
  libs/src/services/contracts/ContractClient.js
  libs/src/services/creatorNode/CreatorNodeSelection.js
  libs/src/services/creatorNode/CreatorNodeSelection.test.js
  libs/src/services/dataContracts/index.js
  libs/src/services/dataContracts/userReplicaSetManagerClient.js
  libs/src/services/discoveryProvider/index.js
  libs/src/services/discoveryProvider/requests.js
  libs/src/services/web3Manager/index.js
  mad-dog/src/index.js
  mad-dog/src/tests/index.js
  mad-dog/src/tests/test_userReplicaSetManager.js
  service-commands/scripts/setup.js
  service-commands/src/libs.js
Labels: Epic, data-contracts, discovery-node, libs, requires-special-attention

#1242 Add recaptcha to signup flow
  identity-service/compose/.env
  identity-service/default-config.json
  identity-service/sequelize/migrations/20210223044705-create-bot-scores.js
  identity-service/src/audiusLibsInstance.js
  identity-service/src/captchaMiddleware.js
  identity-service/src/config.js
  identity-service/src/models/botScores.js
  identity-service/src/routes/authentication.js
  identity-service/src/routes/captcha.js
  identity-service/src/routes/user.js
  identity-service/test/lib/app.js
  libs/src/api/base.js
  libs/src/index.js
  libs/src/services/identity/index.js
  libs/src/utils/captcha.js
Labels: identity-service, libs

#1261 Fail verbose health check on read only mode
  creator-node/src/components/healthCheck/healthCheckController.js
Labels: content-node

#1249 [AUD-291] Sync file fetch optimizations
  creator-node/src/fileManager.js
  creator-node/src/utils.js
Labels: content-node, requires-special-attention

#1260 [AUD-189] Content Node Chain of Trust - Phase 1 (inactive request for signature route)
  creator-node/src/apiHelpers.js
  creator-node/src/apiSigning.js
  creator-node/src/app.js
  creator-node/src/components/README.md
  creator-node/src/components/healthCheck/healthCheckComponentService.js
  creator-node/src/components/healthCheck/healthCheckController.js
  creator-node/src/components/replicaSet/README.md
  creator-node/src/components/replicaSet/URSMRegistrationComponentService.js
  creator-node/src/components/replicaSet/replicaSetController.js
  creator-node/src/index.js
  creator-node/src/serviceRegistry.js
  libs/src/utils.js
Labels: content-node, feature
