Repository AudiusProject/apps, pull requests merged in 2021-01, with the labels that each got.

#1144 Re-order libs CN user interaction to ensure primary
  libs/src/api/user.js
Labels: bug, libs

#1152 Fix updateCreator bug
  libs/src/api/user.js
Labels: bug, libs

#1149 Lockdown CN POST routes under ensurePrimaryMiddleware
  creator-node/src/middlewares.js
  creator-node/src/routes/audiusUsers.js
  creator-node/src/routes/files.js
  creator-node/src/routes/nodeSync.js
Labels: bug, content-node

#1154 Fix Content Blacklist console warning message typo
  creator-node/scripts/updateContentBlacklist.js
Labels: content-node

#1148 Add dedicated user-metadata node to local system setup
  creator-node/compose/docker-compose.yml
  creator-node/compose/env/commonEnv.sh
  creator-node/compose/env/shellEnv.userMetadata.sh
  service-commands/config/convict.json
  service-commands/scripts/hosts.js
  service-commands/src/commands/service-commands.json
  service-commands/src/setup.js
Labels: content-node, service-commands

#1166 Bump version to 0.3.28
  creator-node/.version.json
  discovery-provider/.version.json
Labels: Release

#1145 Add function to check if a given CID exists on an endpoint.
  libs/src/api/file.js
Labels: libs

#1126 Add clock status check in libs
  creator-node/src/routes/users.js
  libs/src/api/user.js
  libs/src/services/creatorNode/index.js
  libs/src/services/discoveryProvider/index.js
  service-commands/scripts/userClockValues.js
Labels: libs

#1171 CN ensurePrimaryMiddleware Fix Logic
  creator-node/src/middlewares.js
  creator-node/src/routes/audiusUsers.js
  creator-node/src/routes/files.js
  creator-node/src/routes/nodeSync.js
  libs/src/api/user.js
  libs/src/services/creatorNode/index.js
Labels: bug, content-node, libs

#1173 Upgrade libs in content-node to v1.1.9
  creator-node/package-lock.json
  creator-node/package.json
Labels: content-node

#1175 Upgrade identity libs to v1.1.9
  identity-service/package-lock.json
  identity-service/package.json
Labels: identity-service

#1176 [AUD-124] Add global timeout to content node selection process
  libs/src/api/serviceProvider.js
  libs/src/services/creatorNode/CreatorNodeSelection.js
  libs/src/services/creatorNode/index.js
  libs/src/utils/network.js
Labels: libs

#1177 Libs 1.1.10
  libs/package-lock.json
  libs/package.json
Labels: libs

#1162 Add funder wallet checks to `balance_check` and `eth_balance_check`
  identity-service/compose/.env
  identity-service/default-config.json
  identity-service/src/config.js
  identity-service/src/routes/healthCheck.js
Labels: identity-service

#1178 Turn off IPFS health check in read only mode
  creator-node/src/routes/healthCheck.js
Labels: content-node

#1180 [AUD-195] Populate playlist track users
  discovery-provider/src/queries/get_playlist_tracks.py
Labels: bug

#1181 Return bad request for the `/version` endpoint in read only mode
  creator-node/src/routes/healthCheck.js
Labels: content-node

#1183 Modify the content node health check to fail on read only mode
  creator-node/src/components/healthCheck/healthCheckController.js
  creator-node/src/routes/healthCheck.js
Labels: content-node

#1142 Add replica set on signup
  libs/examples/run.js
  libs/src/api/account.js
  libs/src/api/serviceProvider.js
  libs/src/api/user.js
  libs/src/index.js
  libs/src/sanityChecks/rolloverNodes.js
  libs/src/services/creatorNode/CreatorNodeSelection.test.js
  libs/src/services/creatorNode/index.js
  libs/src/userStateManager.js
  mad-dog/assets/images/duck.jpg
  mad-dog/assets/images/sid.png
  mad-dog/src/helpers.js
  mad-dog/src/index.js
  mad-dog/src/tests/test_1.js
  mad-dog/src/tests/test_integration.js
  mad-dog/src/tests/test_ipldBlacklist.js
  mad-dog/src/tests/test_snapbackSM.js
  mad-dog/src/tests/tests.js
  service-commands/src/commands/users.js
  service-commands/src/libs.js
Labels: libs, requires-special-attention

#1193 UserReplicaSetManager - Mad Dog Testing
  mad-dog/src/index.js
  mad-dog/src/tests/test_userReplicaSetManager.js
  mad-dog/src/tests/tests.js
  service-commands/src/libs.js
Labels: libs, mad-dog
