Repository AudiusProject/apps, pull requests merged in 2021-05, with the labels that each got.

#1448 Improve KPI script's caching for invalid CN endpoints
  service-commands/scripts/checkAllCid.js
  service-commands/scripts/plotKPI.py
  service-commands/scripts/requirements.txt
Labels: service-commands

#1461 Add solana programs to discovery node up
  service-commands/src/setup.js
Labels: service-commands

#1452 Poll /track_content_async route
  creator-node/src/FileProcessingQueue.js
  creator-node/src/blacklistManager.js
  creator-node/src/components/tracks/tracksComponentService.js
  creator-node/src/fileManager.js
  creator-node/src/routes/files.js
  creator-node/src/routes/tracks.js
  creator-node/src/serviceRegistry.js
  creator-node/test/contentBlacklist.test.js
  creator-node/test/fileManager.test.js
  creator-node/test/lib/app.js
  creator-node/test/lib/helpers.js
  creator-node/test/lib/utils.js
  creator-node/test/nodesync.test.js
  creator-node/test/pollingTracks.test.js
  libs/src/api/track.js
  libs/src/index.js
  libs/src/services/creatorNode/index.js
Labels: content-node, libs

#1475 Mount ../file_storage
  creator-node/compose/docker-compose.yml
Labels: content-node

#1469 SnapbackSM - processStateMachineOperation() function rewrite + peerset monitoring v0
  creator-node/src/snapbackSM.js
Labels: content-node, feature

#1493 Add directory key to tus filestore
  creator-node/src/routes/tracks.js
Labels: content-node

#1477 Adds indexing tests
  discovery-provider/tests/index_helpers.py
  discovery-provider/tests/test_index_playlists.py
  discovery-provider/tests/test_index_tracks.py
  discovery-provider/tests/test_index_users.py
Labels: discovery-node

#1501 Refactor snapbackSM structure
  creator-node/src/middlewares.js
  creator-node/src/serviceRegistry.js
  creator-node/src/snapbackSM/README.md
  creator-node/src/snapbackSM/snapbackDeDuplicator.js
  creator-node/src/snapbackSM/snapbackSM.js
  creator-node/test/snapbackSM.test.js
Labels: content-node
