Repository AudiusProject/apps, pull requests merged in 2021-03, with the labels that each got.

#1273 Bump libs version to 1.1.15
  libs/package-lock.json
  libs/package.json
Labels: libs

#1280 [AUD-369] Wrap generate token call in try/catch
  libs/src/services/identity/index.js
Labels: libs

#1282 Libs bugfixes for ContractClient init
  libs/src/services/contracts/ContractClient.js
  libs/src/services/dataContracts/index.js
Labels: bug, libs

#1244 Add option for multiple web3 providers (creator and identity)
  libs/src/services/ethWeb3Manager/index.js
  libs/src/utils.js
  libs/src/utils/multiProvider.js
Labels: content-node, identity-service, libs, requires-special-attention

#1291 Update /users/creator_node route to include non-creator users
  discovery-provider/src/queries/get_users_cnode.py
Labels: bug, discovery-node

#1270 [AUD-185 ] IPFS 0.8.0 Upgrade
  discovery-provider/compose/docker-compose.ipfs.override.yml
  discovery-provider/requirements.txt
  libs/scripts/ipfs.sh
Labels: discovery-node, requires-special-attention

#1232 Content Node Chain of Trust [Phase 2] - automatic node self-registration on URSM (And new Content Node Init pattern)
  .circleci/config.yml
  creator-node/compose/docker-compose.yml
  creator-node/compose/env/commonEnv.sh
  creator-node/default-config.json
  creator-node/package-lock.json
  creator-node/package.json
  creator-node/src/app.js
  creator-node/src/config.js
  creator-node/src/index.js
  creator-node/src/reqLimiter.js
  creator-node/src/serviceRegistry.js
  creator-node/src/services/README.md
  creator-node/src/services/URSMRegistrationManager.js
  creator-node/src/snapbackSM.js
  creator-node/src/utils.js
  creator-node/test/snapbackSM.test.js
  libs/initScripts/helpers/spRegistration.js
  libs/initScripts/local.js
  mad-dog/src/index.js
  mad-dog/src/tests/test_integration.js
  mad-dog/src/tests/test_userReplicaSetManager.js
  service-commands/src/commands/dataContracts.js
Labels: Epic, content-node, feature, mad-dog, requires-special-attention

#1308 Split Snapback Sync queue into separate queues for Manual and Recurring
  creator-node/src/components/healthCheck/syncHealthCheckComponentService.js
  creator-node/src/components/healthCheck/syncHealthCheckComponentService.test.js
  creator-node/src/middlewares.js
  creator-node/src/routes/nodeSync.js
  creator-node/src/snapbackSM.js
  creator-node/test/snapbackSM.test.js
  service-commands/scripts/hosts.js
Labels: content-node

#1319 [AUD-438] Expose isRegisteredOnURSM in Content Node health check
  creator-node/src/components/healthCheck/healthCheckComponentService.js
  creator-node/src/components/healthCheck/healthCheckComponentService.test.js
  creator-node/src/config.js
  creator-node/src/services/URSMRegistrationManager.js
Labels: content-node

#1321 [AUD-187] Require 2 secondaries explicitly
  libs/src/api/user.js
Labels: libs

#1323 Add a gas param to initiate rounds and claim
  libs/src/services/ethContracts/claimsManagerClient.js
  libs/src/services/ethContracts/delegateManagerClient.js
Labels: libs

#1324 Add Batch CID route to creator node
  creator-node/compose/env/base.env
  creator-node/default-config.json
  creator-node/docker-compose/development.env
  creator-node/src/app.js
  creator-node/src/config.js
  creator-node/src/reqLimiter.js
  creator-node/src/routes/files.js
Labels: content-node

#1332 Wait for test db transaction to finish before evaluating db state
  identity-service/test/notifications/helpers.js
Labels: bug, identity-service

#1333 Add URSM flag to libs init for optimizely
  creator-node/src/serviceRegistry.js
  libs/src/index.js
  libs/src/services/dataContracts/index.js
  libs/tests/helpers.js
  service-commands/src/libs.js
Labels: libs

#1312 Ensure libs w/URSM contract ABI is consumed by identity service
  identity-service/package-lock.json
  identity-service/package.json
Labels: identity-service

#1298 Add multiple web3 provider support to discovery's eth web3 provider
  discovery-provider/default_config.ini
  discovery-provider/src/__init__.py
  discovery-provider/src/utils/multi_provider.py
Labels: discovery-node, requires-special-attention

#1350 Add a batched image CID route to creator node
  creator-node/src/app.js
  creator-node/src/routes/files.js
Labels: content-node

#1346 De-dupe sync tasks
  creator-node/src/middlewares.js
  creator-node/src/snapbackSM.js
  creator-node/test/snapbackSM.test.js
Labels: bug, content-node

#1358 Update init-repos up command to rely on $PROTOCOL_DIR + mad dog sync check fix
  mad-dog/src/helpers.js
  service-commands/README.md
  service-commands/src/commands/service-commands.json
Labels: service-commands
