Repository AudiusProject/apps, pull requests merged in 2021-06, with the labels that each got.

#1502 Add peerSetManager and refactor
  creator-node/src/snapbackSM/peerSetManager.js
  creator-node/src/snapbackSM/snapbackSM.js
Labels: content-node

#1528 Prevent indexing from blocking
  discovery-provider/alembic/versions/7f4f44a8e880_add_skipped_transactions_table.py
  discovery-provider/src/app.py
  discovery-provider/src/models.py
  discovery-provider/src/queries/confirm_indexing_transaction_error.py
  discovery-provider/src/queries/get_skipped_transactions.py
  discovery-provider/src/queries/skipped_transactions.py
  discovery-provider/src/tasks/index.py
  discovery-provider/src/tasks/playlists.py
  discovery-provider/src/tasks/social_features.py
  discovery-provider/src/tasks/tracks.py
  discovery-provider/src/tasks/user_library.py
  discovery-provider/src/tasks/user_replica_set.py
  discovery-provider/src/tasks/users.py
  discovery-provider/src/utils/indexing_errors.py
Labels: discovery-node, requires-special-attention

#1537 Expose sync history in verbose health check
  creator-node/src/components/healthCheck/healthCheckComponentService.js
  creator-node/src/components/healthCheck/healthCheckComponentService.test.js
  creator-node/src/components/healthCheck/healthCheckController.js
  creator-node/src/monitors/monitors.js
  creator-node/src/monitors/syncHistory.js
  creator-node/src/routes/nodeSync.js
  creator-node/src/snapbackSM/syncHistoryAggregator.js
Labels: content-node

#1411 Move sync processing to bull queue
  creator-node/default-config.json
  creator-node/src/ImageProcessingQueue.js
  creator-node/src/components/replicaSet/replicaSetController.js
  creator-node/src/components/replicaSet/syncQueueComponentService.js
  creator-node/src/config.js
  creator-node/src/fileManager.js
  creator-node/src/middlewares.js
  creator-node/src/routes/nodeSync.js
  creator-node/src/serviceRegistry.js
  creator-node/src/services/sync/processSync.js
  creator-node/src/services/sync/syncQueue.js
  creator-node/src/snapbackSM/syncHistoryAggregator.js
  creator-node/test/lib/app.js
  creator-node/test/nodesync.test.js
  creator-node/test/syncAssets/README.md
  creator-node/test/syncAssets/sampleExportDummyCID.json
  creator-node/test/syncAssets/sampleExportDummyCIDFromClock2.json
  mad-dog/src/index.js
Labels: content-node, feature, requires-special-attention

#1557 Fix trending ids cache query
  discovery-provider/src/queries/get_trending_ids.py
Labels: discovery-node

#1511 Add solana relay
  identity-service/default-config.json
  identity-service/package-lock.json
  identity-service/package.json
  identity-service/src/config.js
  identity-service/src/routes/solana.js
  identity-service/src/solana-client.js
  libs/eth-contracts/ABIs/Wormhole.json
  libs/scripts/Wormhole.json
  libs/scripts/migrate_contracts.sh
  libs/src/api/account.js
  libs/src/index.js
  libs/src/services/ethContracts/audiusTokenClient.js
  libs/src/services/ethContracts/index.js
  libs/src/services/ethContracts/wormholeClient.js
  libs/src/utils/signatures.js
Labels: identity-service, libs, solana

#1550 Add WormholeClient and EthRewardsManager
  eth-contracts/contract-config.js
  eth-contracts/contracts/EthRewardsManager.sol
  eth-contracts/contracts/WormholeClient.sol
  eth-contracts/contracts/test/MockWormhole.sol
  eth-contracts/migrations/10_wormhole_client_migration.js
  eth-contracts/migrations/11_eth_rewards_manager_migration.js
  eth-contracts/test/ethRewardsManager.test.js
  eth-contracts/test/wormholeClient.test.js
  eth-contracts/utils/lib.js
  eth-contracts/utils/signatures.js
  service-commands/src/commands/service-commands.json
Labels: eth-contracts, solana

#1563 Enable 2/3 replication quorum on all writes to CN, best effort only with small timeout to minimize UX degradation
  creator-node/compose/env/base.env
  creator-node/default-config.json
  creator-node/docker-compose/development.env
  creator-node/src/components/replicaSet/replicaSetController.js
  creator-node/src/config.js
  creator-node/src/middlewares.js
  creator-node/src/routes/audiusUsers.js
  creator-node/src/routes/files.js
  creator-node/src/routes/tracks.js
  creator-node/src/routes/users.js
  creator-node/src/services/sync/processSync.js
  creator-node/src/snapbackSM/snapbackSM.js
Labels: content-node, feature

#1574 Fix dn local test w/ env for multi dn change
  discovery-provider/compose/.test.env
  discovery-provider/scripts/test.sh
Labels: discovery-node

#1486 Add a test for plays to mad dog
  mad-dog/src/index.js
  mad-dog/src/tests/index.js
  mad-dog/src/tests/test_plays.js
  mad-dog/src/tests/test_solPlays.js
Labels: mad-dog

#1585 Primary user-level secondary sync health tracking
  creator-node/src/snapbackSM/secondarySyncHealthTracker.js
  creator-node/src/snapbackSM/snapbackSM.js
Labels: content-node, feature

#1579 Issue reconfig op if one secondary is unhealthy (v0)
  creator-node/compose/env/base.env
  creator-node/src/config.js
  creator-node/src/snapbackSM/snapbackSM.js
  creator-node/test/lib/libsMock.js
  libs/src/api/serviceProvider.js
  libs/src/services/creatorNode/CreatorNodeSelection.js
Labels: content-node

#1610 Fix bug with using this.moduloSlice
  creator-node/src/snapbackSM/snapbackSM.js
Labels: content-node
